:root {
  --primary-color: #0077c5;
  --white-text: #fff;
}

/* Reseting the page */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eceef1;
  height: 100vh;
}

/* Utility classes */

.flex-h,
.flex-v {
  display: flex;
}

.flex-v {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.btn {
  background: var(--primary-color);
  border-radius: 0.3rem;
  border: 1px solid #333;
  color: var(--white-text);
  padding: 0.5rem 1.4rem;
}

/* Utility Classes: Margins */

.m-r-1 {
  margin-right: 1rem;
}

.m-r-2 {
  margin-right: 2rem;
}

.m-t-1 {
  margin-top: 1rem;
}

.m-t-2 {
  margin-top: 2rem;
}

.m-t-3 {
  margin-top: 3rem;
}

.m-t-4 {
  margin-top: 4rem;
}

.m-b-1 {
  margin-bottom: 1rem;
}

.m-b-2 {
  margin-bottom: 2rem;
}

.m-b-3 {
  margin-bottom: 3rem;
}

.m-b-4 {
  margin-bottom: 4rem;
}

/* Utility Classes: Padding */
.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

/* Header section */

#main-header {
  justify-content: flex-end;
  padding: 0.6rem 1rem;
  font-size: 0.8rem;
  color: #777;
}

#main-header p {
  margin-bottom: 0.1rem;
}

.btn i {
  margin-right: 0.4rem;
  font-size: 0.8rem;
}

#sign-in-button {
  height: 35px;
  width: 105px;
}

#sign-in-button i {
  margin-right: 0.3rem;
}

/* Logo section */

#logo div {
  height: 40px;
  justify-content: center;
  margin-top: 0.8rem;
}

#main-footer a {
  margin-right: 1rem;
  font-size: 0.8rem;
  color: #333;
  margin-bottom: 0.6rem;
  display: inline-block;
}

#logo div a {
  margin: 0 5px;
  height: 100%;
}

.form-input span {
  font-size: 0.8rem;
}

#logo span {
  top: 5px;
  margin: 0 4px;
  color: #777;
  font-size: 1.2rem;
}

#signup-form {
  justify-content: space-between;
}

#signup-form form {
  background: #fff;
  height: 600px;
  width: 23vw;
  border: 1px solid #aaa;
}

#signup-form header {
  color: #444;
  font-weight: 300;
  font-size: 1.6rem;
}

#signup-form header p {
  font-size: 0.9rem;
  color: #777;
}

#signup-form header a {
  font-size: 0.9rem;
}

.form-input {
  margin-bottom: 2rem;
}

.form-input label {
  display: block;
  margin: 0.6rem 0;
  font-size: 1rem;
  color: #444;
  font-weight: 300;
}

.form-input input {
  padding: 0.6rem 1.2rem;
  width: 100%;
  border-radius: 3px;
  outline: none;
  border: 1px solid #999;
}

.form-input input[type='tel'] {
  margin-bottom: 0.5rem;
}

#pass {
  position: relative;
}

#pass i {
  font-size: 1.2rem;
  color: #888;
  position: absolute;
  top: 34px;
  right: 17px;
}

.form-input button {
  display: block;
  width: 100%;
  border: 0;
  padding: 1rem 1.2rem;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  border-radius: 4px;
}

#terms {
  margin: 2.5rem 0 0.6rem 0;
  text-align: center;
  font-size: 0.8rem;
  color: #333;
}

#signup-form footer {
  background: #eceef1;
  height: 7vh;
  width: 23vw;
  border: 1px solid #aaa;
  border-top: none;
  font-size: small;
  color: #888;
  justify-content: center;
}

#main-footer a:hover {
  text-decoration: underline;
  cursor: pointer;
}

#copyright {
  text-align: center;
  font-size: 0.8rem;
  color: #333;
}

#footer-privacy {
  align-self: flex-end;
  margin-right: 5rem;
}

#footer-privacy div {
  background: #777;
  padding: 0.6rem 1.2rem;
  font-size: 0.9rem;
  position: fixed;
  bottom: 0;
  right: 90px;
}
